.example-card {
    max-width: 300px;
    background: #f4f7fa;
}

.card-wrapper{
    margin: 0px 0px 10px 0px;
}

.center-text {
    text-align: center;
    justify-content: center;
    color: black;
    height: 120px;
}

.header{
    justify-content: center;
}